#app-div {
  box-sizing: border-box;
  margin: 0 auto;
}

#bookList-div {
  box-sizing: border-box;
  color: rebeccapurple;
}
#bookList-div li {
  list-style-type: none;
  background-color: grey;
  padding: 10px 20px;
  border: 1px solid grey;
  cursor: pointer;
  margin: 15px;
}
#bookList-div ul {
  display: flex;
  flex-wrap: wrap;
}

#bookList-div h2 {
  text-align: center;
}
form {
  background: #fff;
  color: rebeccapurple;
  padding: 20px;
  position: fixed;
  left: 55px;
  bottom: 10px;
  width: 400px;
  background-color: grey;
}

form .field {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

form .field option {
  color: rebeccapurple;
}
form button {
  padding: 5px 10px;
  border-radius: 50%;
  font-size: 20px;
  margin-top: 10px;
  cursor: pointer;
}
form label {
  text-align: right;
  padding: 6px;
}

#bookDetails-div {
  box-sizing: border-box;
}
#bookDetails-div h3,
h4,
p {
  margin-left: 55px;
}
#bookDetails-div ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
#bookDetails-div li {
  list-style-type: none;
  background-color: grey;
}
